# Cereal Analysis

In [1]:
import pandas as pd

In [2]:
# data from https://www.kaggle.com/crawford/80-cereals
df = pd.read_csv('./cereal.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [3]:
df.tail()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [4]:
# filter by column names
df["name"]

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [5]:
df.set_index("name")

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [6]:
df[["name","mfr"]].head()

                        name mfr
0                  100% Bran   N
1          100% Natural Bran   Q
2                   All-Bran   K
3  All-Bran with Extra Fiber   K
4             Almond Delight   R

In [7]:
df[['name','rating','sugars']].sort_values('rating', ascending=False)

                         name     rating  sugars
3   All-Bran with Extra Fiber  93.704912       0
64     Shredded Wheat 'n'Bran  74.472949       0
65  Shredded Wheat spoon size  72.801787       0
0                   100% Bran  68.402973       6
63             Shredded Wheat  68.235885       0
..                        ...        ...     ...
14                Cocoa Puffs  22.736446      13
18              Count Chocula  22.396513      13
35           Honey Graham Ohs  21.871292      11
12      Cinnamon Toast Crunch  19.823573       9
10               Cap'n'Crunch  18.042851      12

[77 rows x 3 columns]

# Find average sodium

In [8]:
avg_sodium = df[['sodium']].mean()
avg_sodium

sodium    159.675325
dtype: float64

In [9]:
max_carbo = df['carbo'].max()
max_carbo

23.0

In [10]:
df[df['carbo'] < 7][['name','carbo']]

              name  carbo
0        100% Bran    5.0
57  Quaker Oatmeal   -1.0

In [11]:
mcc = df['carbo'].mode()
mcc

0    13.0
1    15.0
dtype: float64

In [12]:
import numpy as np
df[df['carbo'] == np.mean(mcc)][['name','carbo']].set_index('name')

                     carbo
name
Almond Delight        14.0
Frosted Flakes        14.0
Frosted Mini-Wheats   14.0
Fruitful Bran         14.0
Honey-comb            14.0
Quaker Oat Squares    14.0
Raisin Bran           14.0

In [13]:
df['potass'].std()

71.28681250926212

In [14]:
# df[["mfr","sugars","protein"]].groupby("mfr").sum()
df[["mfr","sugars","protein"]].groupby("mfr").median()

     sugars  protein
mfr
A       3.0      4.0
G       8.5      2.0
K       7.0      3.0
N       0.0      3.0
P      10.0      3.0
Q       6.0      2.5
R       5.5      2.0

Apply a custom function

In [15]:
def manfacturer_name(mfr):
    map = {
        'A':'A',
        'G':'General Mills',
        'K': 'Kellogs',
        'N': 'Nabisco',
        'P': 'P',
        'Q': 'Quaker',
        'R': 'Ralcorp'
    }

    return map.get(mfr)

In [16]:
df['Manufacturer'] = df['mfr'].apply(manfacturer_name)

In [17]:
df[["Manufacturer","sugars","protein"]].groupby("Manufacturer").median()

               sugars  protein
Manufacturer
A                 3.0      4.0
General Mills     8.5      2.0
Kellogs           7.0      3.0
Nabisco           0.0      3.0
P                10.0      3.0
Quaker            6.0      2.5
Ralcorp           5.5      2.0

In [18]:
df[df['mfr'] == 'A']

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,Manufacturer
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.0,54.850917,A